.passenger > div {
  position: relative;
  display: inline-block;
}

.passenger {
  background: #f4f4f4;
  height: 50px;
  width: 100%;
  border-radius: 16px;
  margin: 12px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.passName {
  margin-left: 18px;
  font-size: 18px;
  color: #333;
}
.passButton {
  border-radius: 50%;
  background: #e4e4e4;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.passButtonImg {
  object-fit: contain;
  height: 22px;
  width: 22px;
}

.driverIcon {
  display: inline-block;
  margin-right: 10px;
}